* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*font-family: "Nabla", cursive;*/
  /* font-family: 'Nabla', cursive; */
  /* font-family: "Press Start 2P", cursive; */
  font-family: "Abel", cursive;
  background-color: #222;
  color: rgb(240, 236, 236);
  text-shadow: 2px 2px 4px #000;
}
.topcontainer .again {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1rem;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
  font-size: 4.5rem;
  font-family: "Nabla", cursive;
  text-shadow: 2px 2px 4px #000;
}
.para {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1rem;
}
.secretnum {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 1rem 1.4rem;
  margin: 6% 45% 6% 45%;
  border: solid rgb(240, 236, 236) 0.2rem;
  background-color: #222;
  font-family: "Press Start 2P", cursive;
}
button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(240, 236, 236);
  font-family: "Press Start 2P", cursive;
}
button:hover {
  background-color: #222;
  color: rgb(240, 236, 236);
  box-shadow: 3px 3px 3px #fff;
}
.bottomcontainer {
  margin: 8% 10% 10% 6%;
  display: flex;
  /* flex-basis: 1 1; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bottomcontainer :first-child {
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-content: flex-start;
  align-items: center;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
  align-items: center;
}
input {
  margin: 2rem;
  padding: 1rem 0;
  color: rgb(240, 236, 236);
  font-size: 1.4rem;
  background-color: #222;
  border: solid 2px rgb(240, 236, 236);
  font-family: "Press Start 2P", cursive;
}
.number {
  width: 30%;
}
.check {
  width: 30%;
}
p {
  font-size: 2rem;
}
@media (max-width: 576px) {
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
    font-size: 2.6rem;
    font-family: "Nabla", cursive;
    text-shadow: 2px 2px 4px #000;
  }
  p {
    font-size: 1.3rem;
  }
  .number {
    width: 40%;
  }
  .check {
    width: 30%;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
  }
  .secretnum {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem 1.4rem;
    margin: 6% 40% 6% 40%;
    border: solid rgb(240, 236, 236) 0.2rem;
    background-color: #222;
    font-family: "Press Start 2P", cursive;
  }
  button {
    padding: 0.5rem;
    font-size: 0.8rem;
    background-color: rgb(240, 236, 236);
    font-family: "Press Start 2P", cursive;
  }
}
@media (max-width: 355px) {
  h1 {
    font-size: 2rem;
  }
}
